
<div class="pagination">
        <span class="step-links">
            <nav>
                <ul class="pager">
                    {% if posts.has_previous %}
                    <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                        <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </span>
    </div>